/** The mixins below are shared between md-menu and md-select */
/**
 * This mixin adds the correct panel transform styles based
 * on the direction that the menu panel opens.
 */
.md-menu-panel {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh + 48px); }
  .md-menu-panel.md-menu-after.md-menu-below {
    transform-origin: left top; }
  .md-menu-panel.md-menu-after.md-menu-above {
    transform-origin: left bottom; }
  .md-menu-panel.md-menu-before.md-menu-below {
    transform-origin: right top; }
  .md-menu-panel.md-menu-before.md-menu-above {
    transform-origin: right bottom; }
  [dir='rtl'] .md-menu-panel.md-menu-after.md-menu-below {
    transform-origin: right top; }
  [dir='rtl'] .md-menu-panel.md-menu-after.md-menu-above {
    transform-origin: right bottom; }
  [dir='rtl'] .md-menu-panel.md-menu-before.md-menu-below {
    transform-origin: left top; }
  [dir='rtl'] .md-menu-panel.md-menu-before.md-menu-above {
    transform-origin: left bottom; }

.md-menu-content {
  padding-top: 8px;
  padding-bottom: 8px; }

[md-menu-item] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: start;
  text-decoration: none;
  position: relative; }
  [md-menu-item][disabled] {
    cursor: default; }
  [md-menu-item] md-icon {
    margin-right: 16px; }
    [dir='rtl'] [md-menu-item] md-icon {
      margin-left: 16px; }

button[md-menu-item] {
  width: 100%; }

.md-menu-ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/*# sourceMappingURL=menu.css.map */
