/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 12, 2016, 5:31:06 AM
    Author     : Nikhil
*/

html,
body {
    background-color: rgb(255, 255, 255);
}

#wrap {
    min-height: 660px;
    height: auto !important;
    height: 100%;
}

#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



.container {
    width: auto;
    max-width: 1024px;
}
.container .muted {
    margin: 20px 0;
}

.inline-break{padding: 12px; width: 100%; float: left;}