[md-tab-nav-bar] {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0; }

[md-tab-link] {
  line-height: 48px;
  height: 48px;
  padding: 0 12px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  color: currentColor;
  opacity: 0.6;
  min-width: 160px;
  text-align: center;
  text-decoration: none; }
  [md-tab-link]:focus {
    outline: none;
    opacity: 1; }

@media (max-width: 600px) {
  [md-tab-link] {
    min-width: 72px; } }

md-ink-bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  transition: 350ms ease-out; }

/*# sourceMappingURL=tab-nav-bar.css.map */
