md-input, md-textarea {
  display: inline-block;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: normal;
  text-align: left; }
  [dir='rtl'] md-input, [dir='rtl'] md-textarea {
    text-align: right; }

.md-input-wrapper {
  margin: 16px 0; }

.md-input-table {
  display: inline-table;
  flex-flow: column;
  vertical-align: bottom;
  width: 100%; }
  .md-input-table > * {
    display: table-cell; }

.md-input-infix {
  position: relative; }

.md-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  width: 100%; }
  .md-input-element.md-end {
    text-align: right; }
    [dir='rtl'] .md-input-element.md-end {
      text-align: left; }
  .md-input-element:-moz-ui-invalid {
    box-shadow: none; }
  .md-input-element:-webkit-autofill + .md-input-placeholder.md-float {
    display: block;
    padding-bottom: 5px;
    transform: translateY(-100%) scale(0.75);
    width: 133.33333%; }

.md-input-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), scale 400ms cubic-bezier(0.25, 0.8, 0.25, 1), color 400ms cubic-bezier(0.25, 0.8, 0.25, 1), width 400ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  .md-input-placeholder.md-empty {
    display: block;
    cursor: text; }
  .md-input-placeholder.md-float:not(.md-empty), .md-input-placeholder.md-float.md-focused {
    display: block;
    padding-bottom: 5px;
    transform: translateY(-100%) scale(0.75);
    width: 133.33333%; }
  [dir='rtl'] .md-input-placeholder {
    transform-origin: bottom right; }

.md-input-underline {
  position: absolute;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  border-top-width: 1px;
  border-top-style: solid; }
  .md-input-underline.md-disabled {
    border-top: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-position: 0;
    background-size: 4px 1px;
    background-repeat: repeat-x; }
  .md-input-underline .md-input-ripple {
    position: absolute;
    height: 2px;
    z-index: 1;
    top: -1px;
    width: 100%;
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    .md-input-underline .md-input-ripple.md-focused {
      opacity: 1;
      transform: scaleY(1); }

.md-hint {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -0.5em; }
  .md-hint.md-right {
    right: 0; }
  [dir='rtl'] .md-hint {
    right: 0;
    left: auto; }
    [dir='rtl'] .md-hint.md-right {
      right: auto;
      left: 0; }

/*# sourceMappingURL=input.css.map */
