[md-raised-button], [md-fab], [md-mini-fab], [md-button], [md-icon-button] {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: currentColor;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px; }
  [disabled][md-raised-button], [disabled][md-fab], [disabled][md-mini-fab], [disabled][md-button], [disabled][md-icon-button] {
    cursor: default; }
  .md-button-focus[md-raised-button]::after, .md-button-focus[md-fab]::after, .md-button-focus[md-mini-fab]::after, .md-button-focus[md-button]::after, .md-button-focus[md-icon-button]::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: inherit;
    pointer-events: none; }

[md-raised-button], [md-fab], [md-mini-fab] {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  [md-raised-button]:active, [md-fab]:active, [md-mini-fab]:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
  [disabled][md-raised-button], [disabled][md-fab], [disabled][md-mini-fab] {
    box-shadow: none; }

[md-button]:hover::after, [md-icon-button]:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: inherit;
  pointer-events: none; }

[md-button][disabled]:hover.md-primary, [md-button][disabled]:hover.md-accent, [md-button][disabled]:hover.md-warn, [md-button][disabled]:hover::after, [md-icon-button][disabled]:hover.md-primary, [md-icon-button][disabled]:hover.md-accent, [md-icon-button][disabled]:hover.md-warn, [md-icon-button][disabled]:hover::after {
  background-color: transparent; }

[md-fab] {
  min-width: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0; }
  [md-fab] i, [md-fab] md-icon {
    padding: 16px 0;
    line-height: 24px; }

[md-mini-fab] {
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0; }
  [md-mini-fab] i, [md-mini-fab] md-icon {
    padding: 8px 0;
    line-height: 24px; }

[md-icon-button] {
  min-width: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 24px;
  border-radius: 50%; }
  [md-icon-button] .md-button-wrapper > * {
    line-height: 24px;
    vertical-align: middle; }

[md-button] .md-button-wrapper > *, [md-raised-button] .md-button-wrapper > * {
  vertical-align: middle; }

.md-button-ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.md-button-ripple-round {
  border-radius: 50%;
  z-index: 1; }

@media screen and (-ms-high-contrast: active) {
  .md-raised-button, .md-fab, .md-mini-fab {
    border: 1px solid #fff; } }

/*# sourceMappingURL=button.css.map */
