:host {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #323232;
  border-radius: 2px;
  box-sizing: content-box;
  display: block;
  height: 20px;
  max-width: 568px;
  min-width: 288px;
  overflow: hidden;
  padding: 14px 24px;
  transform: translateY(100%); }

/*# sourceMappingURL=snack-bar-container.css.map */
